{% extends 'navbar.html' %}
{% block head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
{% endblock %}
{% block content %}
<div class="container-lg justify-content-center">
    <input type="text" name="otp" id="otp">
    <input type="submit" value="Verify OTP" class="btn btn-success" style="width: 100px" id="btn-otp">
</div>
<script>
    $('#btn-otp').click(function(){
        let otp = $('#otp').val();
        // console.log("Here")
        if(otp == '{{otp}}'){
            console.log("OTP Matched!")
            
            $.ajax({
                type: "POST",
                url: "{% url 'verifyEmail' %}",
                data: {'email': '{{email}}', 'pass1': '{{pass1}}'}
            })
            .done(function(){
                alert("Your email has been verified!")
                window.location.href = '/'
            })
            .fail(function(){
                alert("Email was not verified, please try again!")
            })
        }
        else{
            alert("Incorrect OTP, please retry.")
        }
    })
</script>
{% endblock %}