/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    height: 100%;
    background-size: cover;
    background-image: url(/main/static/images/loginbg.jpg);

}

.container{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #ffffff; */
    background-size: cover;

    column-gap: 30px;
    /* background-size: 100%; */
}

.form{
    position: absolute;
    max-width: 430px;
    width: 100%;
    padding: 30px;
    border-radius: 6px;
    background: #FFF;
}

.form.signup{
    opacity: 0;
    pointer-events: none;
}

.forms.show-signup .form.signup{
    opacity: 1;
    pointer-events: auto;
}

.forms.show-signup .form.login{
    opacity: 0;
    pointer-events: none;
}

header{
    font-size: 28px;
    font-weight: 600;
    color: #232836;
    text-align: center;
}

form{
    margin-top: 30px;
}

.form .field{
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 20px;
    border-radius: 6px;
}

.field input,
.field button{
    height: 100%;
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 6px;
}

.field input{
    outline: none;
    padding: 0 15px;
    border: 1px solid#CACACA;
}

.field input:focus{
    border-bottom-width: 2px;
}

.eye-icon{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #8b8b8b;
    cursor: pointer;
    padding: 5px;
}

.field button{
    color: #ffffff;
    background-color: #016dcb;
    transition: all 0.3s ease;
    cursor: pointer;
}

.field button:hover{
    background-color: #016dcb;
}

.form-link{
    text-align: center;
    margin-top: 10px;
}

.form-link span,
.form-link a{
    font-size: 14px;
    font-weight: 400;
    color: #016dcb;
}

.form a{
    color: #111;
    text-decoration: none;
}
.form b{
    color: #1560d1;
    text-decoration: none;
}

.form-content a:hover{
    text-decoration: underline;
}


.media-options a{
    display: flex;
    align-items: center;
    justify-content: center;
}


.alert {
    display: flexbox;
    flex-direction: column;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.alert-success {
    border-color: #c3e6cb;
    background-color: #d4edda;
    color: #155724;
}

.alert-error {
    border-color: #f8d7da;
    background-color: #f5c6cb;
    color: #721c24;
}


@media screen and (max-width: 400px) {
    .form{
        padding: 20px 10px;
    }
    
}
