{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">    

  <title>Student Dashboard</title>

  <!-- Custom fonts for this template-->
  <!-- <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css"> -->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Dosis:300,400,500,,600,700,700i|Lato:300,300i,400,400i,700,700i" rel="stylesheet">

  <!-- CSS Files -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link href="{% static 'css/others/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'css/others/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/others/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/others/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/others/swiper-bundle.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
  <style>
    @media (min-width:768px) {
      #content {
         margin-left: 150px;
      }
    }
  </style>

</head>

<body id="page-top">
  {% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert">
            {{ message }}
        </div>
    {% endfor %}
  {% endif %}
    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul style="z-index:1; position: fixed;"  class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
            
            <!-- Sidebar - Brand -->
            <div class="logo_image_daiict" style="margin-bottom: 5%;"href="index.html">
                <div class=daiictimg>
                    <img class="daiict" src="{% static 'images/dalogo.png' %}" />
                </div>
                <div><a style="color:white;text-decoration: none;font-size: 12px;font-weight: 500;" href="https://www.w3schools.com" class="sidebar-brand-text">DA-IICT </a></div>
            </div>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Test -->
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'main:StartTest' %}">
                  <span>Test</span>
              </a>
            </li>
            <!-- Home -->
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'main:Home' %}">
                    <span>Home</span>
                </a>
            </li>
            <!-- Feereceipt-->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsethree"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <span>Fee Receipt</span>
                </a>
                <div id="collapsethree" class="collapse" aria-labelledby="headingthree" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="Print.html">Print</a>
                    </div>
                </div>
            </li>
            <!-- Result -->
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'main:Result' %}">
                  <span>Result</span></a>
            </li>
            <!-- Nav Item - Changepassword -->
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'main:Forget' %}">
                  <span>Change Password</span></a>
            </li>

            <li class="nav-item active">
              <a class="nav-link" href="{% url 'main:Logout' %}">
                <span>Logout</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <!-- <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div> -->
        </ul>
        <!-- End of Sidebar -->
        

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
          <!-- Main Content -->
          
          <div id="content">
            <div class="container-fluid" style="padding:10;">
              
              <!-- ======= Testimonials Section ======= -->
              <section id="testimonials" class="testimonials" style="font-size: large;">
                <div class="container position-relative">

                  <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
                    <div class="swiper-wrapper">
                      {% for noti in notifications %}
                      <div class="swiper-slide">
                        <div class="testimonial-item">
                          <!-- <img src="{% static 'images/da.jpg' %}" class="testimonial-img" alt=""> -->
                          <p class="text-center">
                            <!-- <i class="bx bxs-quote-alt-left quote-icon-left"></i> -->
                              {{noti.content}}
                            <!-- <i class="bx bxs-quote-alt-right quote-icon-right"></i> -->
                          </p>
                        </div>
                      </div><!-- End testimonial item -->
                      {% endfor %}
                    </div>
                    <div class="swiper-pagination"></div>
                  </div>

                </div>
              </section><!-- End Testimonials Section -->


                <!-- Page Heading -->
              <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                  <i class="fa fa-bars"></i>
              </button>
                <div class=" text-center align-items-center justify-content-between mb-4">
                    <h1 class="h3 mt-3 mb-0 text-gray-800">Student Dashboard</h1>
                </div>
                <!-- Content Row -->
                <div class="row">
                </div>
            </div>

            <!-- Application form --->

            <main id="main">
              <div class="main-body">
                
                <div class="row gutters-sm" style="margin: 0 10%;">
                  
                  
                  <div class="col-md-100">
                    <div class="card mb-3">

                      

                      <div class="card-body" style="height: 50%; width: 100%;">
                        <div class="d-flex flex-column align-items-center text-center">
                          <img src="https://srs-it314.s3.ap-south-1.amazonaws.com/{{application.photo}}" alt="Admin" style="width: 180px; height: 220px;">
                        </div>
                      </div>
                      
                      <div class="card-body">
                        <div class="col-md-4 mb-3">
                          <!-- <div class="card"> -->
                            <!-- <div class="card-body" style="height: 50%; width: 100%;">
                              <div class="d-flex flex-column align-items-center text-center">
                                <img src="{{application.photo.url}}" alt="Admin" style="width: 180px; height: 220px;">
                              </div>
                            </div> -->
                          <!-- </div>  -->
                        </div>
                        <div class="row">
                          
                          <div class="col-sm-3">
                            
                            <h6 class="mb-0">Full Name</h6>
                          </div>
                          <div class="col-sm-9 text-secondary">{{application.name}} </div>
                        </div>
                        <hr>
                        <div class="row">
                          <div class="col-sm-3">
                            <h6 class="mb-0">Email</h6>
                          </div>
                          <div class="col-sm-9 text-secondary">{{user.username}}</div>
                        </div>
                        <hr>
                        <div class="row">
                          <div class="col-sm-3">
                            <h6 class="mb-0">Phone</h6>
                          </div>
                          <div class="col-sm-9 text-secondary">{{application.phone}}</div>
                        </div>
                        <hr>
                        <div class="row">
                          <div class="col-sm-3">
                            <h6 class="mb-0">Address</h6>
                          </div>
                          <div class="col-sm-9 text-secondary">{{application.address}}</div>
                        </div>

                        <hr>
                        <div class="row">
                          <div class="col-sm-3">
                            <h6 class="mb-0">Email</h6>
                          </div>
                          <div class="col-sm-9 text-secondary">{{user.username}}</div>
                        </div>

                        <hr>
                        <div class="row">
                          <div class="col-sm-3">
                            <h6 class="mb-0">Email</h6>
                          </div>
                          <div class="col-sm-9 text-secondary">{{user.username}}</div>
                        </div>

                        <hr>
                        <div class="row">
                          <div class="col-sm-3">
                            <h6 class="mb-0">Email</h6>
                          </div>
                          <div class="col-sm-9 text-secondary">{{user.username}}</div>
                        </div>



                        <hr>
                        <div class="row">
                          <div class="col-sm-3">
                            <h6 class="mb-0">12<sup>th</sup> Marksheet</h6>
                          </div>
                          <div class="col-sm-9 text-secondary"><a href="https://srs-it314.s3.ap-south-1.amazonaws.com/{{application.marks_12}}">View 12<sup>th</sup> Marksheet</a></div>
                        </div>
                        <hr>
                        <div class="row">
                          <div class="col-sm-3">
                            <h6 class="mb-0">10<sup>th</sup> Marksheet</h6>
                          </div>
                          <div class="col-sm-9 text-secondary"><a href="https://srs-it314.s3.ap-south-1.amazonaws.com/{{application.marks_10}}">View 10<sup>th</sup> Marksheet</a></div>
                        </div>
                        <hr>
                        <div class="row">
                          <div class="col-sm-3">
                            <h6 class="mb-0">Status</h6>
                          </div>
                          <div class="col-sm-9 text-secondary">{{application.get_app_status_display}}</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </main><!-- End #main -->                      
            <!-- <a href="#" class="back-to-top  align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a> -->
            <!-- Footer -->
            <footer class="sticky-footer" style="background-color: hsl(216, 25%, 90%);">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; DA-IICT</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <script src="{% static 'js/others/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/others/jquery.min.js' %}"></script>
    <script src="{% static 'js/others/jquery.easing.min.js' %}"></script>
    <script src="{% static 'js/sb-admin-2.min.js' %}"></script>
    <script src="{% static 'js/others/purecounter_vanilla.js' %}"></script>
    <script src="{% static 'js/others/glightbox.min.js' %}"></script>
    <script src="{% static 'js/others/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'js/others/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'js/home.js' %}"></script>
</body>
</html>