<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome {{user.username}}</h1>
    <ul>
        <li>{{application.name}}</li>
        <li>{{application.phone}}</li>
        <li>{{application.dob}}</li>
        <li>{{application.address}}</li>
        <li>{{application.app_status}}</li>
        {% for notification in notifications %}
            <li>{{notification.content}}</li>
        {% endfor %}
    </ul>
    <h1><a href="{% url 'Logout' %}">Logout</a></h1>
</body>
</html>