{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fill Application</title>
    <link rel="stylesheet" href="{% static 'css/style_fill_application.css' %}">



</head>

<body>
    <div class="container">
        <div class="forms-container">
            <div class="header-buttons">

                <div><a href="{% url 'main:Home' %}"><ion-icon name="home-outline" size="large" style="color: black;"></ion-icon></a></div>
                <a href="{% url 'main:Logout' %}"><button class="header-button" id="logoutButton">Logout</button></a>
            
            </div>
            <form action="{% url 'main:FillApplication' %}" class="application-form-personal" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <!-- Home and Logout buttons -->

                <div class="div-application-form-personal">
                    <div class="header-text httal htvam">
                        <h1 class="form-header" data-component="header">Application Form</h1>
                        <div class="form-subHeader">
                            <p>This is a one-time process. Please enter details carefully</p>
                            <h2 class="form-header" data-component="header">Personal Details</h2>
                        </div>
                    </div>
                    <hr>
                    <!---Application Form (Personal Details)-->
                        <h3 id="name">Name</h3>
                        <div data-wrapper-react="true" class="form-pair">
                            <span class="form-field" style="vertical-align:top">
                                <label aria-hidden="false">
                                    First Name
                                </label>
                                <input type="text" class="required-field-personal" id="fname" name="fname"
                                    placeholder="Enter First Name" pattern="^\S*$" title="Spaces are not allowed" required/>
                            </span>
                            <span class="form-field" style="vertical-align:top">
                                <label aria-hidden="false">
                                    Middle Name
                                </label>
                                <input type="text" id="mname" name="mname" placeholder="Enter Middle Name" pattern="^\S*$" title="Spaces are not allowed" required/>
                            </span>

                            <span class="form-field" style="vertical-align:top">
                                <label aria-hidden="false">
                                    Last Name
                                </label>
                                <input type="text" class="required-field-personal" id="lname" name="lname"
                                    placeholder="Enter Last Name" pattern="^\S*$" title="Spaces are not allowed" required/>
                            </span>
                        </div>
                        <br>
                        <h3 id="gender">Gender</h3>
                        <div data-wrapper-react="true" class="gender">
                            <span class="span-gender" style="vertical-align:top">
                                <input type="radio" name="gender" id="male" value="M" /> Male
                                <input type="radio" name="gender" id="female" value="F" /> Female
                                <input type="radio" name="gender" id="prefer-not-say" value="P" /> Prefer Not To Say
                            </span>
                        </div>
                        <br>
                        <h3 id="birthdate">Date of Birth</h3>
                        <div data-wrapper-react="true" class="form-pair">
                            <span class="form-field" style="vertical-align:top">
                                <label aria-hidden="false">
                                    Birthdate
                                </label>
                                <input type="date" class="required-field" id="dob" name="dob" pattern="^\S*$" title="Spaces are not allowed" required/>
                            </span>

                        </div>
                        <br>
                        <div data-wrapper-react="true" class="phone-numbers">
                            <h3 id="contact-details">Contact Details</h3>

                            <div data-wrapper-react="true" class="form-pair">
                                <span class="form-field">
                                    <label aria-hidden="false">
                                        Phone number
                                    </label>
                                    <input type="text" class="required-field-personal" id="phone" name="phone"
                                        placeholder="Enter Phone Number" pattern="^\S*$" title="Spaces are not allowed" required/>
                                </span>

                                <span class="form-field">
                                    <label aria-hidden="false">
                                        Alternate phone number
                                    </label>
                                    <input type="text" id="alt_phone" name="alt_phone"
                                        placeholder="Enter Alternate Phone number" pattern="^\S*$" title="Spaces are not allowed" required/>
                                </span>
                            </div>

                        </div>
                        <br>
                        <h3 id="nationaity-proof">ID Proof </h3>
                        <div data-wrapper-react="true" class="form-pair">
                            <span class="form-field" style="vertical-align: top">
                                <label>
                                    Aadhar Card
                                </label>
                                <input type="file" class="required-field-personal" id="id_proof" name="id_proof" placeholder="" required/>
                            </span>
                            <span class="form-field" style="vertical-align: top">
                                <label>
                                    Photo
                                </label>
                                <input type="file" class="required-field-personal" id="photo" name="photo"
                                    placeholder="" required/>
                            </span>
                        </div>
                        <br>
                        <h3 id="parents-details">Family Details </h3>
                        <div data-wrapper-react="true" class="form-pair">
                            <span class="form-field" style="vertical-align: top">
                                <label>
                                    Father's Name
                                </label>
                                <input type="text" class="required-field-personal" id="father" name="father"
                                    placeholder="Enter Father's Name" required/>
                            </span>
                            <span class="form-field" style="vertical-align: top">
                                <label>
                                    Mother's Name
                                </label>
                                <input type="text" class="required-field-personal" id="mother" name="mother"
                                    placeholder="Enter Mother's Name" required/>
                            </span>
                        </div>
                        <br>
                        <h3 id="address">Address</h3>
                        <div data-wrapper-react="true" class="address">
                            <span class="address" style="vertical-align: top">
                                <label>
                                    Street Address
                                </label>
                                <input type="text" class="required-field-personal" id="line-1" name="line-1"
                                    placeholder="Enter Street Address" required/>
                            </span>
                        </div>
                        <div data-wrapper-react="true" class="address">
                            <span class="address" style="vertical-align: top">
                                <br>
                                <label>
                                    Street Address Line-2
                                </label>
                                <input type="text" id="line-2" name="line-2" placeholder="Enter Street Address Line-2"/>
                            </span>
                        </div>
                        <div data-wrapper-react="true" class="form-pair">
                            <span class="form-field" style="vertical-align: top">
                                <br>
                                <label>
                                    Postal Code
                                </label>
                                <input type="text" class="required-field-personal" id="postal-code" name="postal-code"
                                    placeholder="Enter Postal Code" pattern="^\S*$" title="Spaces are not allowed" required/>
                            </span>
                            <span class="form-field" style="vertical-align: top">
                                <br>
                                <label>
                                    City
                                </label>
                                <input type="text" placeholder="Enter City" id="city" name="city" pattern="^\S*$" title="Spaces are not allowed" required/>
                            </span>
                        </div>
                        <br>
                        <div data-wrapper-react="true" class="form-pair">
                            <span class="form-field" style="vertical-align: top">
                                <label>
                                    State
                                </label>
                                <input type="text" placeholder="Enter State" id="state" name="state" pattern="^\S*$" title="Spaces are not allowed" required/>
                            </span>
                            <span class="form-field" style="vertical-align: top">
                                <label>
                                    Country
                                </label>
                                <input type="text" placeholder="Enter Country" id="country" name="country" pattern="^\S*$" title="Spaces are not allowed" required/>
                            </span>
                        </div>
                </div>
                <div class="div-application-form-educational">
                    <div class="header-text httal htvam">
                        <h2 class="form-header" data-component="header">Education Details</h2>
                        <hr>
                    </div>
                    <!--Application Form(Educational Details)-->
                    <h3 id="result">School</h3>
                    <div data-wrapper-react="true" class="form-pair">
                        <span class="form-field" style="vertical-align:top">
                            <label aria-hidden="false">
                                Secondary School (10<sup>th</sup>)
                            </label>
                            <input type="text" class="required-field" id="ssc" name="ssc" required/>
                        </span>
                        <span class="form-field" style="vertical-align:top">
                            <label aria-hidden="false">
                                Higher Secondary School (12<sup>th</sup>)
                            </label>
                            <input type="text" class="required-field" id="hsc" name="hsc" required/>
                        </span>
                        <br>
                    </div>
                    <div data-wrapper-react="true" class="form-pair">
                        <div class="form-field">
                            <p class="mb-2">Upload 10<sup>th</sup> Marksheet:</p><input type="file" class="form-control"
                                name="marks_10" id="marks_10" required="">
                        </div>
                        <div class="form-field">
                            <p class="mb-2">Upload 12<sup>th</sup> Marksheet:</p><input type="file" class="form-control"
                                name="marks_12" id="marks_12" required="">
                        </div>
                    </div>
                    <h3 id="result">Result</h3>
                    <div data-wrapper-react="true" class="form-pair">
                        <span class="form-field" style="vertical-align:top">
                            <label aria-hidden="false">
                                SSC Percentage
                            </label>
                            <input type="text" class="required-field" id="ssc_per" name="ssc_per" pattern="^\S*$" title="Spaces are not allowed" required/>
                        </span>
                        <span class="form-field" style="vertical-align:top">
                            <label aria-hidden="false">
                                HSC Percentage
                            </label>
                            <input type="text" class="required-field" id="hsc_per" name="hsc_per" pattern="^\S*$" title="Spaces are not allowed" required/>
                        </span>
                    </div>
                    <div data-wrapper-react="true" class="form-pair">
                        <span class="form-field" style="vertical-align:top">
                            <label aria-hidden="false">
                                GUJCET Rank
                            </label>
                            <input type="text" class="required-field" id="gujcet" name="gujcet" pattern="^\S*$" title="Spaces are not allowed" required/>
                        </span>
                        <span class="form-field" style="vertical-align:top">
                            <label aria-hidden="false">
                                JEE-Main Rank
                            </label>
                            <input type="text" class="required-field" id="jee" name="jee" pattern="^\S*$" title="Spaces are not allowed" required/>
                        </span>
                    </div>

                    <!-- Submit Button -->
                    <div class="submit-button-container">
                        <button type="submit" class="submit-button">Submit Application</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script src="{% static 'js/applicationForm.js' %}"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
</body>
</html>