{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forget Password</title>

    <!-- style CSS -->
    <link rel="stylesheet" href="{% static 'css/login.css' %}">

    <!-- Boxicons CSS -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>
<body>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <section class="container forms">
        <div class="form login">
            <div class="form-content">
                <header>Password Reset</header>
                <form method="post">
                    {% csrf_token %}
                    <div class="field input-field">
                        <input type="email" placeholder="Email" class="input" id="forget-email" name="forget-email" required>
                    </div>
                    <div class="field button-field">
                        <button type="submit">Send OTP</button>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <!-- JavaScript -->
    {% comment %} <script src="{% static 'js/login.js' %}"></script> {% endcomment %}
</body>
</html>