{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Login and Signup Form</title>

    <!-- style CSS -->
    <link rel="stylesheet" href="{% static 'css/login.css' %}">

    <!-- Boxicons CSS -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>
<body>
    <section class="container forms">
        <div class="form login">
            <div class="form-content">
                <header>Login</header>
                <form method="post">
                    {% csrf_token %}
                    <div class="field input-field">
                        <input type="email" placeholder="Email" class="input" id="signin-email" name="signin-email">
                    </div>
                    <div class="field input-field">
                        <input type="password" placeholder="Password" class="password" id="signin-password" name="signin-password">
                        <i class='bx bx-hide eye-icon'></i>
                    </div>
                    <div class="form-link">
                        <span><a href="" style="color:#111;">Forgot Password?</a></span>
                    </div>
                    <div class="field button-field">
                        <button type="submit">Login</button>
                    </div>
                </form>
                <div class="form-link">
                    <span>Don't have an account? <a href="" class="link signup-link" style="color:#111;">Signup</a></span>
                </div>
            </div>
        </div>

        <!-- Signup Form -->
        <div class="form signup">
            <div class="form-content">
                <header>Signup</header>
                <form method="post">
                    {% csrf_token %}
                    <div class="field input-field">
                        <input type="email" placeholder="Email" class="input" id="signup-email" name="signup-email">
                    </div>

                    <div class="field input-field">
                        <input type="password" placeholder="Create password" class="password" id="signup-password" name="signup-password">
                    </div>

                    <div class="field input-field">
                        <input type="password" placeholder="Confirm password" class="password" id="confirm-signup-password" name="confirm-signup-password">
                        <i class='bx bx-hide eye-icon'></i>
                    </div>
                    <div class="field button-field" id="signup">
                        <button type="submit">Signup</button>
                    </div>
                </form>

                <div class="form-link">
                    <span>Already have an account? <a href="" class="link login-link" style="color:#111;">Login</a></span>
                </div>
            </div>
        </div>
    </section>

    <!-- JavaScript -->
    <script src="{% static 'js/login.js' %}"></script>
</body>
</html>