<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Define Start Test</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        <label for="start-time">Start Time</label>
        <input type="datetime-local" id="start-time" name="start-time" required>
        <br>
        <br>
        <label for="end-time">End Time </label>
        <input type="datetime-local" id="end-time" name="end-time" required>
        <br>
        <br>
        <button type="submit" value="submit">Set Test Window</button>
    </form>
</body>
</html>