{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Application Form</title>
    <link rel="stylesheet" href="{% static 'css/style_fill_application.css' %}">



</head>

<body>
    <div class="container">
        <div class="forms-container">

            <!-- Home and Logout buttons -->
            <div class="header-buttons">

                <div><a href="{% url 'Home' %}"><ion-icon name="home-outline" size="large" style="color: black;"></ion-icon></a></div>
                <a href="{% url 'Logout' %}"><button class="header-button" id="logoutButton">Logout</button></a>
               
            </div>

            <div class="div-application-form-personal">
                <div class="header-text httal htvam">
                    <h1 class="form-header" data-component="header">Application Form</h1>
                    <div class="form-subHeader">
                        <p>This is a one-time process. Please enter details carefully</p>
                        <h2 class="form-header" data-component="header">Personal Details</h2>
                    </div>
                </div>
                <hr>
                <!---Application Form (Personal Details)-->

                <form action="{% url 'FillApplication' %}" class="application-form-personal">
                    <h3 id="name">Name</h3>
                    <div data-wrapper-react="true" class="form-pair">
                        <span class="form-field" style="vertical-align:top">
                            <label aria-hidden="false">
                                First Name
                            </label>
                            <input type="text" class="required-field-personal" id="first-name"
                                placeholder="Enter First Name" />
                        </span>
                        <span class="form-field" style="vertical-align:top">
                            <label aria-hidden="false">
                                Middle Name
                            </label>
                            <input type="text" id="middle-name" placeholder="Enter Middle Name" />
                        </span>

                        <span class="form-field" style="vertical-align:top">
                            <label aria-hidden="false">
                                Last Name
                            </label>
                            <input type="text" class="required-field-personal" id="last-name"
                                placeholder="Enter Last Name" />
                        </span>
                    </div>
                    <br>
                    <h3 id="gender">Gender</h3>
                    <div data-wrapper-react="true" class="gender">
                        <span class="span-gender" style="vertical-align:top">
                            <input type="radio" name="gender" id="male" value="false" /> Male
                            <input type="radio" name="gender" id="female" value="false" /> Female
                            <input type="radio" name="gender" id="prefer-not-say" value="false" /> Prefer Not To Say
                        </span>

                        <script>
                            // Get all radio buttons with the name "gender"
                            var radioButtons = document.querySelectorAll('input[name="gender"]');

                            // Add an event listener to each radio button
                            radioButtons.forEach(function (radioButton) {
                                radioButton.addEventListener('change', function () {
                                    // Set the value to "true" when a radio button is selected
                                    radioButtons.forEach(function (rb) {
                                        rb.value = "false";
                                    });
                                    this.value = "true";
                                });
                            });
                        </script>
                    </div>
                    <br>
                    <h3 id="birthdate">Date of Birth</h3>
                    <div data-wrapper-react="true" class="form-pair">
                        <span class="form-field" style="vertical-align:top">
                            <label aria-hidden="false">
                                Birthdate
                            </label>
                            <input type="date" class="required-field" id="birthdate" />
                        </span>

                    </div>
                    <br>
                    <div data-wrapper-react="true" class="phone-numbers">
                        <h3 id="contact-details">Contact Details</h3>

                        <div data-wrapper-react="true" class="form-pair">
                            <span class="form-field">
                                <label aria-hidden="false">
                                    Phone number
                                </label>
                                <input type="text" class="required-field-personal" id="Phone number"
                                    placeholder="Enter Phone Number" />
                            </span>

                            <span class="form-field">
                                <label aria-hidden="false">
                                    Alternate phone number
                                </label>
                                <input type="text" id="Alternate phone number"
                                    placeholder="Enter Alternate Phone number" />
                            </span>
                        </div>

                    </div>
                    <br>
                    <h3 id="nationaity-proof">ID Proof </h3>
                    <div data-wrapper-react="true" class="form-pair">
                        <span class="form-field" style="vertical-align: top">
                            <label>
                                Aadhar Card
                            </label>
                            <input type="file" class="required-field-personal" id="Aadhar-card" placeholder="" />
                        </span>
                        <span class="form-field" style="vertical-align: top">
                            <label>
                                Aadhar Card Number
                            </label>
                            <input type="number" class="required-field-personal" id="nationality-card-number"
                                placeholder="Enter Aadhar Card Number" />
                        </span>
                    </div>
                    <br>
                    <h3 id="parents-details">Family Details </h3>
                    <div data-wrapper-react="true" class="form-pair">
                        <span class="form-field" style="vertical-align: top">
                            <label>
                                Father's Name
                            </label>
                            <input type="text" class="required-field-personal" id="father-name"
                                placeholder="Enter Father's Name" />
                        </span>
                        <span class="form-field" style="vertical-align: top">
                            <label>
                                Mother's Name
                            </label>
                            <input type="text" class="required-field-personal" id="mother-name"
                                placeholder="Enter Mother's Name" />
                        </span>
                    </div>
                    <br>
                    <h3 id="address">Address</h3>
                    <div data-wrapper-react="true" class="address">
                        <span class="address" style="vertical-align: top">
                            <label>
                                Street Address
                            </label>
                            <input type="text" class="required-field-personal" id="line-1"
                                placeholder="Enter Street Address" />
                        </span>
                    </div>
                    <div data-wrapper-react="true" class="address">
                        <span class="address" style="vertical-align: top">
                            <br>
                            <label>
                                Street Address Line-2
                            </label>
                            <input type="text" id="line-2" placeholder="Enter Street Address Line-2" />
                        </span>
                    </div>
                    <div data-wrapper-react="true" class="form-pair">
                        <span class="form-field" style="vertical-align: top">
                            <br>
                            <label>
                                Postal Code
                            </label>
                            <input type="text" class="required-field-personal" id="postal-code"
                                placeholder="Enter Postal Code" />
                        </span>
                        <span class="form-field" style="vertical-align: top">
                            <br>
                            <label>
                                City
                            </label>
                            <input type="text" placeholder="Enter City" id="city">
                        </span>
                    </div>
                    <br>
                    <div data-wrapper-react="true" class="form-pair">
                        <span class="form-field" style="vertical-align: top">
                            <label>
                                State
                            </label>
                            <input type="text" placeholder="Enter State" id="state">
                        </span>
                        <span class="form-field" style="vertical-align: top">
                            <label>
                                Country
                            </label>
                            <input type="text" placeholder="Enter Country" id="country">
                        </span>

                </form>
            </div>
            <div class="div-application-form-educational">
                <div class="header-text httal htvam">
                    <h2 class="form-header" data-component="header">Education Details</h2>
                    <hr>
                </div>
                <!--Application Form(Educational Details)-->
                <form action="#" class="application-form-educational">
                    <h3 id="result">School</h3>
                    <div data-wrapper-react="true" class="form-pair">
                        <span class="form-field" style="vertical-align:top">
                            <label aria-hidden="false">
                                Secondary School (10<sup>th</sup>)
                            </label>
                            <input type="text" class="required-field" id="secondary-school" />
                        </span>
                        <span class="form-field" style="vertical-align:top">
                            <label aria-hidden="false">
                                Higher Secondary School (12<sup>th</sup>)
                            </label>
                            <input type="text" class="required-field" id="higher-secondary-school" />
                        </span>
                        <br>
                    </div>
                    <div data-wrapper-react="true" class="form-pair">
                        <div class="form-field">
                            <p class="mb-2">Upload 10<sup>th</sup> Marksheet:</p><input type="file" class="form-control"
                                name="marks_10" id="marks_10" required="">
                        </div>
                        <div class="form-field">
                            <p class="mb-2">Upload 12<sup>th</sup> Marksheet:</p><input type="file" class="form-control"
                                name="marks_12" id="marks_12" required="">
                        </div>
                    </div>
                    <h3 id="result">Result</h3>
                    <div data-wrapper-react="true" class="form-pair">
                        <span class="form-field" style="vertical-align:top">
                            <label aria-hidden="false">
                                SSC Percentage
                            </label>
                            <input type="text" class="required-field" id="SSC-percentage" />
                        </span>
                        <span class="form-field" style="vertical-align:top">
                            <label aria-hidden="false">
                                HSC Percentage
                            </label>
                            <input type="text" class="required-field" id="HSC-percentage" />
                        </span>
                    </div>
                    <div data-wrapper-react="true" class="form-pair">
                        <span class="form-field" style="vertical-align:top">
                            <label aria-hidden="false">
                                GUJCET Rank
                            </label>
                            <input type="text" class="required-field" id="GUJCET-percentile-rank" />
                        </span>
                        <span class="form-field" style="vertical-align:top">
                            <label aria-hidden="false">
                                JEE-Main Rank
                            </label>
                            <input type="text" class="required-field" id="JEE-main-percentile-rank" />
                        </span>
                    </div>
                    <!---<div class="form-pagebreak" class="form-field" data-component="pagebreak">
                        <div class="form-pagebreak-back-container">
                            <button id="educational_backBtn" type="button" class="backBtn" data-component="pagebreak-back">
                                Back
                            </button>
                        </div>
                        <div class="form-pagebreak-next-container">
                            <button id="educational_nextBtn" type="button" class="nextBtn" data-component="pagebreak-next">
                                Next
                            </button>
                        </div>
                    </div>--->
                </form>
            </div>

            <!-- <div class="div-application-form-payment">
                <div class="header-text httal htvam">
                    <h2 class="form-header" data-component="header">Application Fee</h2>
                <hr>
                </div>
               
                <form action="#" class="application-form-payment">
                    <label class="title">Payment Methods:</label>
                    <br>
                    <br>
                    <div class="form-multiple-column" data-columncount="3" role="group" aria-labelledby="label_50" data-component="checkbox">
                        <span class="form-checkbox-item">
                            <label for="credit-card-checkbox">
                                Credit Card
                            </label>
                            <input type="checkbox" id="credit-card-checkbox" value="credit-card">
                        </span>
                        <span class="form-checkbox-item">
                            <label for="upi-checkbox">
                                UPI
                            </label>
                            <input type="checkbox" id="upi-checkbox" value="UPI">
                        </span>
                        <span class="form-checkbox-item">
                            <label for="qr-code-checkbox">
                                QR Code
                            </label>
                            <input type="checkbox" id="qr-code-checkbox" value="QR-code">
                        </span>
                    </div>
                   
                </form> 
            </div> -->

            <!-- Submit Button -->
            <div class="submit-button-container">
                <button type="submit" class="submit-button">Submit Application</button>
            </div>

        </div>
    </div>
    <script src="./js/applicationForm.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
</body>
</html>