<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Instructions</title>
</head>
<body>
    <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate, nobis aspernatur? Molestiae quasi sapiente deserunt, aspernatur minima in, accusantium tempore deleniti quam ipsam neque repellendus distinctio cumque a voluptatibus id!
    </p>
    <a href="{% url 'Next_Question' 1 %}"><button>Start Test</button></a>
</body>
</html>